@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
}

@theme {
  /* ========== Colors ========== */
  /* Background */
  --color-background: #e8ebf0;
  --color-second-background: #eceef3;

  /* Text colors */
  --color-text: #505662;
  --color-title: #25282d;
  --color-subtitle: #26282b;

  /* Accent colors */
  --color-main: #3b82f6;
  --color-white: #ffffff;
  --color-line: #3b73f6;
  --color-circle: #364fc7;
  --color-gray: #696e73;

  /* Card color */ 
  --color-card-bg: #ffffff;
  --color-card-border: #3b73f6;

  /* Input color */
  --color-input-bg: #ffffff;
  --color-input-text: #505662;
  --color-input-border: #3b73f6;
  --color-input-focus-border: #60a5fa;
  --color-border-line: rgba(0, 0, 0, 0.1);

  /* ========== Font and typography ========== */
  /* 0.5rem = 5px | 1rem = 10px */
  --body-font: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --biggest-font-size: 3.6rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;
  --header-height: 8rem;
}